<!--<nz-breadcrumb>-->
<!--  <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
<!--  <nz-breadcrumb-item>TNM8lung</nz-breadcrumb-item>-->
<!--</nz-breadcrumb>-->
<div class="container">
  <div class="jumbotron mt-3 mb-3 p-xl-3 mt-xl-0 mb-xl-0">
  <h1 class="display-4">MEDSTRUCT-NLP</h1>
<p class="lead">Assistence, Classification and Information Extraction for Medical Free-Text Reporting</p>

    <div class="ant-row">
      <div class="ant-col-lg-12">
        <nz-form-item>
          <nz-form-label>View Annotated</nz-form-label>
          <nz-switch [(ngModel)]="showAnnotated" [nzDisabled]="!jsonNlpHtml"></nz-switch>
        </nz-form-item>
      </div>
      <div class="ant-col-lg-12">
        <nz-form-item>
          <nz-form-label>Autocheck</nz-form-label>
          <nz-switch [(ngModel)]="autoClassification"></nz-switch>
        </nz-form-item>
      </div>
    </div>

    <div class="ant-row">

          <div class="ant-col-lg-12">

            <div class="flip-card" [ngClass]="{'flip-card-hover': showAnnotated}">
              <div class="flip-card-inner">
                <div class="flip-card-front">

                  <editor id="tnm-editor" [init]="getEditorConfiguration()" (onKeyUp)="keyUpEvent($event)"
                  aria-placeholder="Radiology Report"></editor>

                </div>
                <div class="flip-card-back">
                    <nz-card nzTitle="Annotated Report" style="height: 450px; overflow-y: scroll;">
                      <div class="container">
                        <div [innerHTML]="jsonNlpHtml"></div>
                      </div>

                      <nz-divider></nz-divider>
                      <ul class="legend">
                        <li><span class="tnm-present"></span> Present</li>
                        <li><span class="tnm-involved"></span> Involved</li>
                        <li><span class="context-modifier"></span> Context Modifier</li>
                        <li><span class="context-target"></span> Context Target</li>
                      </ul>

                    </nz-card>
              </div>
            </div>
          </div>

            <div class="ant-row">
                <nz-form-item class="nz-select-100">
                  <nz-form-control>
                    <nz-select (ngModelChange)="loadData($event)" [(ngModel)]="dataFile" nzPlaceHolder="Example text ...">
                      <nz-option nzValue="empty.txt" nzLabel="Empty"></nz-option>
                      <nz-option nzValue="article1-lang-en.txt" nzLabel="Example text from Article-1 (EN)"></nz-option>
                      <nz-option nzValue="article1-lang-nl.txt" nzLabel="Example text from Article-1 (NL)"></nz-option>
                      <nz-option nzValue="allselected-lang-nl.txt" nzLabel="All selected test (NL)"></nz-option>
                      <nz-option nzValue="allselected-lang-en.txt" nzLabel="All selected text (EN)"></nz-option>
                      <nz-option nzValue="lymph-test-lang-nl.txt" nzLabel="Lymph Test (NL)"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

          <div class="ant-col-lg-12">
            <div class="container tnm-wrap">

              <div [hidden]="!jsonNlpErrorMessage" class="mb-2">
              <nz-alert
                nzType="error"
                nzMessage="Server Error"
                nzDescription="{{jsonNlpErrorMessage}}">
              </nz-alert>
              </div>

            <nz-card nzTitle="TNM-8 Lung" class="tnm8-card" style="height: 450px; overflow-y: scroll;" [nzSize]="'small'">

              <div class="ant-row">
                <div class="ant-col-12">
                <nz-form-item>
                  <nz-select nzShowSearch [(ngModel)]="language">
                    <nz-option nzValue="en" nzLabel="English"></nz-option>
                    <nz-option nzValue="nl" nzLabel="Nederlands"></nz-option>
                  </nz-select>
                </nz-form-item>
              </div>
                <div class="ant-col-12">
              <nz-form-item>
                <button nz-button nzType="primary" (click)="annotateButton()" [nzLoading]="classificationActive" nzBlock>Classify</button>
              </nz-form-item>
                </div>
              </div>

              <nz-result [hidden]="!submitOk"
                nzStatus="success"
                nzTitle="Thank you. Successfully Submitted Feedback!"
                nzSubTitle="Reference Identifier: {{submitId}}.">
                <div nz-result-extra>
                  <button nz-button nzType="primary" (click)="resetForm()">Reset</button>
                  <button nz-button (click)="closeSubmitResponse()">Close</button>
                </div>
              </nz-result>
              <nz-result [hidden]="!submitError"
                nzTitle="Submission Failed"
                nzStatus="error"
                nzSubTitle="Please contact Martijn Nobel for questions relating this error.">
                <div nz-result-content>
                  <div class="desc">
                    <h4 nz-title>The content you submitted resulted in the following error:</h4>
                    <p nz-paragraph>
                      <i nz-icon nzType="close-circle"></i>
                      {{submitErrorMessage}}
                    </p>
                  </div>
                </div>
                <div nz-result-extra>
                  <button nz-button (click)="closeSubmitResponse()">Close</button>
                </div>
              </nz-result>

                <form [hidden]="submitOk || submitError" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                  <div class="ant-row">
                    <div class="ant-col-8">
                      <nz-select nzShowSearch formControlName="tnmT" nzPlaceHolder="T" [nzSize]="'small'">
                        <nz-option nzValue="Tx" nzLabel="Tx"></nz-option>
                        <nz-option nzValue="T0" nzLabel="T0"></nz-option>
                        <nz-option nzValue="Tis" nzLabel="Tis"></nz-option>
                        <nz-option nzValue="T1a(mi)" nzLabel="T1a(mi)"></nz-option>
                        <nz-option nzValue="T1a" nzLabel="T1a"></nz-option>
                        <nz-option nzValue="T1b" nzLabel="T1b"></nz-option>
                        <nz-option nzValue="T1c" nzLabel="T1c"></nz-option>
                        <nz-option nzValue="T2" nzLabel="T2"></nz-option>
                        <nz-option nzValue="T2a" nzLabel="T2a"></nz-option>
                        <nz-option nzValue="T2b" nzLabel="T2b"></nz-option>
                        <nz-option nzValue="T3" nzLabel="T3"></nz-option>
                        <nz-option nzValue="T4" nzLabel="T4"></nz-option>
                      </nz-select>
                    </div>
                    <div class="ant-col-8">
                      <nz-select nzShowSearch formControlName="tnmN" nzPlaceHolder="N" [nzSize]="'small'">
                        <nz-option nzValue="Nx" nzLabel="Nx"></nz-option>
                        <nz-option nzValue="N0" nzLabel="N0"></nz-option>
                        <nz-option nzValue="N1" nzLabel="N1"></nz-option>
                        <nz-option nzValue="N2" nzLabel="N2"></nz-option>
                        <nz-option nzValue="N3" nzLabel="N3"></nz-option>
                      </nz-select>
                    </div>
                    <div class="ant-col-8">
                      <nz-select nzShowSearch formControlName="tnmM" nzPlaceHolder="M" [nzSize]="'small'">
                        <nz-option nzValue="Mx" nzLabel="Mx"></nz-option>
                        <nz-option nzValue="M0" nzLabel="M0"></nz-option>
                        <nz-option nzValue="M1a" nzLabel="M1a"></nz-option>
                        <nz-option nzValue="M1b" nzLabel="M1b"></nz-option>
                        <nz-option nzValue="M1c" nzLabel="M1c"></nz-option>
                      </nz-select>
                    </div>
                  </div>

                  <nz-divider nzText="Primary Tumor"></nz-divider>
                  <div class="form-group ant-row">
                    <div class="ant-col-12">
                      <nz-form-item>
                          <nz-input-number nzPlaceHolder="Size" [nzMin]="0" [nzStep]="0.1" formControlName="tumorSize"
                                           (ngModelChange)="classify()"
                                           [nzSize]="'small'">
                          </nz-input-number> cm
                      </nz-form-item>
                    </div>
                    <div class="ant-col-12">
                        <nz-form-item>
                            <nz-select nzPlaceHolder="Side" formControlName="side" formControlName="tumorSide"
                                       (ngModelChange)="classify()"
                                       [nzSize]="'small'">
                              <nz-option nzValue="LEFT" nzLabel="Left Side"></nz-option>
                              <nz-option nzValue="RIGHT" nzLabel="Right Side"></nz-option>
                              <nz-option nzValue="NONE" nzLabel="No Tumor"></nz-option>
                              <nz-option nzValue="UNKNOWN" nzLabel="Side Unknown"></nz-option>
                            </nz-select>
                        </nz-form-item>
                    </div>
                  </div>

                  <div class="form-group ant-row">
                    <div class="ant-col-12">
                        <nz-form-item>
                            <nz-select nzPlaceHolder="Present" nzMode="multiple" formControlName="presentConcepts"
                                       (ngModelChange)="classify()"
                                       [nzSize]="'small'">
                              <nz-option-group nzLabel="T2">
                              <nz-option nzValue="snomedct:46621007" nzLabel="Atelectases"></nz-option>
                              <nz-option nzValue="snomedct:205237003" nzLabel="Post Obstructive Pneumonitis"></nz-option>
                              </nz-option-group>
                            </nz-select>
                        </nz-form-item>
                    </div>
                    <div class="ant-col-12">
                        <nz-form-item>
                              <nz-select nzPlaceHolder="Involved" nzMode="multiple" formControlName="involvedConcepts"
                                         (ngModelChange)="classify()"
                                         [nzSize]="'small'">
                                <nz-option-group nzLabel="T2">
                                  <nz-option nzValue="snomedct:102297006" nzLabel="Main-Bronchus"></nz-option>
                                  <nz-option nzValue="snomedct:81623005" nzLabel="Visceral Pleura"></nz-option>
                                </nz-option-group>
                                <nz-option-group nzLabel="T3">
                                  <nz-option nzValue="snomedct:78904004" nzLabel="Chest Wall"></nz-option>
                                  <nz-option nzValue="snomedct:76848001" nzLabel="Parietale Pericard"></nz-option>
                                  <nz-option nzValue="snomedct:50230006" nzLabel="Nervus Phrenicus"></nz-option>
                                </nz-option-group>
                                <nz-option-group nzLabel="T4">
                                  <nz-option nzValue="snomedct:5798000" nzLabel="Diaphragm"></nz-option>
                                  <nz-option nzValue="snomedct:72410000" nzLabel="Mediastinum"></nz-option>
                                  <nz-option nzValue="snomedct:80891009" nzLabel="Heart"></nz-option>
                                  <nz-option nzValue="snomedct:3711007" nzLabel="Great Vessels"></nz-option>
                                  <nz-option nzValue="snomedct:44567001" nzLabel="Trachea"></nz-option>
                                  <nz-option nzValue="snomedct:731050007" nzLabel="Recurrent Laryngeal Nerve"></nz-option>
                                  <nz-option nzValue="snomedct:32849002" nzLabel="Oesophagus"></nz-option>
                                  <nz-option nzValue="snomedct:3572006" nzLabel="Vertebral Body"></nz-option>
                                  <nz-option nzValue="snomedct:28700002" nzLabel="Carina"></nz-option>
                                </nz-option-group>
                            </nz-select>
                        </nz-form-item>
                    </div>
                  </div>

<!--                  <nz-divider nzText="Tumor Nodes"></nz-divider>-->
                  <div class="ant-row">
                    <div class="ant-col-12">
                    <nz-form-item>
                      <label nz-checkbox formControlName="satelliteNodules" (ngModelChange)="classify()">Satellite Nodule (T3)</label>
                    </nz-form-item>
                    </div>

                    <div class="ant-col-12">
                      <nz-form-item>
                          <label nz-checkbox formControlName="tumorsInDiffentLobesIpsilateral" (ngModelChange)="classify()">Ipsilateral Tumor (T4)</label>
                      </nz-form-item>
                    </div>
                  </div>

                  <nz-divider nzText="Lymph Nodes"></nz-divider>
                  <div class="ant-row">
                    <div class="ant-col-24">
                      <nz-form-item>
                        <nz-form-control>
                        <nz-select nzMode="multiple" nzPlaceHolder="Pathologic Lymph Nodes" formControlName="lymphNodes"
                                   (ngModelChange)="classify()"
                                   [nzSize]="'small'">
                          <nz-option nzValue="none:thorax-station-1" nzLabel="1 Supraclavicular"></nz-option>
                          <nz-option nzValue="none:thorax-station-2-left" nzLabel="2L Upper Paratracheal"></nz-option>
                          <nz-option nzValue="none:thorax-station-2-right" nzLabel="2R Upper Paratracheal"></nz-option>
                          <nz-option nzValue="none:thorax-station-3a-left" nzLabel="3aL Pre-vascular"></nz-option>
                          <nz-option nzValue="none:thorax-station-3a-right" nzLabel="3aR Pre-vascular"></nz-option>
                          <nz-option nzValue="none:thorax-station-3p-left" nzLabel="3pL Pre-vertebral"></nz-option>
                          <nz-option nzValue="none:thorax-station-3p-right" nzLabel="3pR Pre-vertebral"></nz-option>
                          <nz-option nzValue="none:thorax-station-4-left" nzLabel="4L Lower Paratracheal "></nz-option>
                          <nz-option nzValue="none:thorax-station-4-right" nzLabel="4R Lower Paratracheal "></nz-option>
                          <nz-option nzValue="none:thorax-station-5" nzLabel="5 Aortic"></nz-option>
                          <nz-option nzValue="none:thorax-station-6" nzLabel="6 Aortic"></nz-option>
                          <nz-option nzValue="none:thorax-station-7" nzLabel="7 Subcarinal"></nz-option>
                          <nz-option nzValue="none:thorax-station-8-left" nzLabel="8L Paraesophageal"></nz-option>
                          <nz-option nzValue="none:thorax-station-8-right" nzLabel="8R Paraesophageal"></nz-option>
                          <nz-option nzValue="none:thorax-station-9-left" nzLabel="9L Pulmonary Ligament"></nz-option>
                          <nz-option nzValue="none:thorax-station-9-right" nzLabel="9R Pulmonary Ligament"></nz-option>
                          <nz-option nzValue="none:thorax-station-10-left" nzLabel="10L"></nz-option>
                          <nz-option nzValue="none:thorax-station-10-right" nzLabel="10R"></nz-option>
                          <nz-option nzValue="none:thorax-station-11-left" nzLabel="11L"></nz-option>
                          <nz-option nzValue="none:thorax-station-11-right" nzLabel="11R"></nz-option>
                          <nz-option nzValue="none:thorax-station-12-left" nzLabel="12L"></nz-option>
                          <nz-option nzValue="none:thorax-station-12-right" nzLabel="12R"></nz-option>
                          <nz-option nzValue="none:thorax-station-13-left" nzLabel="13L"></nz-option>
                          <nz-option nzValue="none:thorax-station-13-right" nzLabel="13R"></nz-option>
                          <nz-option nzValue="none:thorax-station-14-left" nzLabel="14L"></nz-option>
                          <nz-option nzValue="none:thorax-station-14-right" nzLabel="14R"></nz-option>
                        </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <nz-divider nzText="Submit Feedback"></nz-divider>
                  <div class="ant-row">
                    <div class="ant-col-24">
                      <nz-form-item>
                          <input  type="text" nz-input formControlName="externalId" placeholder="Accession Number">
                      </nz-form-item>
                    </div>
                    <div class="ant-col-24">
                      <nz-form-item>
                        <nz-mention>
                          <textarea nzPlaceHolder="Comment" nz-input formControlName="comment" placeholder="Comment"></textarea>
                        </nz-mention>
                      </nz-form-item>
                    </div>
                  </div>

                  <div class="ant-row">
                    <div class="ant-col-12">
                      <nz-form-item>
                        <label nz-checkbox formControlName="tnmedit">TNM edited</label>
                      </nz-form-item>
                    </div>

                    <div class="ant-col-12">
                      <nz-form-item>
                        <label nz-checkbox formControlName="reportedit">Report edited</label>
                      </nz-form-item>
                    </div>
                  </div>

                  <button nz-button nzType="primary" nzGhost nzBlock>Submit</button>
                </form>

            </nz-card>
          </div>
          </div>
    </div>

    <div class="mt-4 mt-lg-0">
      <div class="text-secondary text-center">Questions? Please contact <b>Martijn Nobel</b> (MUMC+) / <b>Sander Puts</b> (Maastro)</div>
      <div class="text-secondary text-center">© MAASTRO clinic | MUMC+ | University Maastricht</div>
    </div>
    <!--end row-->
</div>
</div>
