nz-select-100
  width: 100%

.tnm8-card
  height: 700px
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)

.flip-card
  background-color: transparent
  width: 100%
  height: 450px
  perspective: 1000px


.flip-card-inner
  position: relative
  width: 100%
  height: 450px
  //text-align: center
  transition: transform 0.6s
  transform-style: preserve-3d
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)


.flip-card-hover .flip-card-inner
  transform: rotateY(180deg)

.flip-card-front, .flip-card-back
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden
  -webkit-transform: translate3d(0,0,0)
  -transform: translate3d(0,0,0)


.flip-card-front
  background-color: #bbb
  color: black


.flip-card-back
  background-color: white
  color: black
  transform: rotateY(180deg)



.tnm-size
  background-color: #3D9970

.context-target
  background-color: #DDDDDD

.context-modifier
  background-color: #FFDC00

.tnm-transparent
  background-color: transparent

.tnm-present
  background-color: #01FF70 !important

.tnm-involved
  background-color: #7FDBFF !important



.legend
  list-style: none
.legend li
  //float: left
  margin-right: 10px
.legend span
  border: 1px solid #ccc
  float: left
  width: 12px
  height: 12px
  margin: 2px

