<nz-layout class="layout">
  <nz-layout>
    <div class="wrapper">
    <nz-content>
    <app-tnmlung8></app-tnmlung8>
    <router-outlet></router-outlet>
    </nz-content>
    </div>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>
